#dashboard-container {
  display: flex;
  width: 100%;
}
#link-tab-section {
  width: 65%;
}
/* media query mobile only*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #dashboard-container {
    display: block;
    width: 100%;
  }
  #link-tab-section {
    width: 100%;
  }
}
